# Environment variables declared in this file are available at build-time and run-time.
# Don't commit this file to source control.

# Database
DATABASE_URL="file:./dev.db"

# Server
PORT=3001
NODE_ENV=development

# CORS
CORS_ORIGIN=http://localhost:3000
